<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head>
        <title>Update Item Status</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <style>
            
        </style>
        

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Restaurant</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/manager}">Manager</a></li>
                    <li><a th:href="@{/waiter}">Waiter</a></li>
                    <li class="active"><a th:href="@{/chef}">Chef</a></li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </nav>
        
        <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
        
        
        <div class="container my-5">
            <h3> Edit Status Info</h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10">
                        
                        <form action="#" th:action="@{/chef/update}" th:object="${item}"
                              method="post">
                            
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{item_id}"/>
                            <input type="hidden" th:field="*{item_name}"/>
                            <input type="hidden" th:field="*{party_id}"/>
                            <input type="hidden" th:field="*{party_name}"/>
                            <input type="hidden" th:field="*{item_quantity}"/>
                            <input type="hidden" th:field="*{item_total}"/>
                            
                            <br>
                            <br>
                            <input type="text" th:field="*{item_status}"/>
                            
                            <br>
                            <br>
                            <button type="submit">Save</button>

                            
                        </form>


                    </div>


                </div>
            </div>
        </div>
        
        
        
        
    </body>
</html>