<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>Chef view order</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <style>

        </style>


    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Restaurant</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/manager}">Manager</a></li>
                    <li><a th:href="@{/waiter}">Waiter</a></li>
                    <li  class="active"><a th:href="@{/chef}">Chef</a></li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </nav>

        <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
        
    <div class="container">

            <h1 style="text-align:center;">Menu</h1>

            <div style="align-content: center;">
                
               
                
                <table class="table table-unbordered">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Item Quantity</th>
                            <th>Party Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${items}" th:if="${item.party_id == partyId}">
                                             
                            <td th:text=" ${item.item_name}"></td>
                            <td th:text=" ${item.item_quantity}"></td>
                            <td th:text=" ${item.party_name}"></td>
                            <td th:text=" ${item.item_status}"></td>
                            <td>
                                <a th:href="@{/chef/update-status/id={id}(id=${item.id})}" class ="btn btn-primary">Edit order</a>
                            </td>
                            
                        </tr>
                        
                        

                    </tbody>
                </table>
               
                
                
            </div>
        </div>
    
    
    </body>
</html>