<!DOCTYPE html>

<html>
    <head>
        <title>403</title> <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Security</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/manager}">Manager</a></li>
                     <li><a th:href="@{/waiter}">Waiter</a></li>
                    <li> <a th:href="@{/chef}">Chef</a> </li>                   
                </ul>
                <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
            </div>
        </nav>
        <div class="container">
            <h1>Sorry, You don't have sufficient permission to visit this page.</h1>

        </div>
    </body>
</html>
